{
  "globals": {
    "expect": true
  },
  "rules": {
    "arrow-body-style": 0,
    "no-param-reassign": 0,
    "no-unused-expressions": 0,
    "func-names": 0,
    "import/no-extraneous-dependencies": 0,
    "strict": 0,
    "no-use-before-define": 0
  }
}
