{
  "extends": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {
      "trailingComma": true,
      "singleQuote": true,
      "printWidth": 80
    }]
  },
  "env": {
    "mocha": true
  },
  "plugins": [
    "prettier"
  ]
}
